@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Shrikhand&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: Outfit;
  background-color: #fdf1f1;
}

.header {
  grid-area: header;
  background-color: #c29436;
}

.header h1 {
  text-align: center;
  color: #ffffff;
  font-family: Shrikhand;
  font-size: 25px;
}

.container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.main {
  grid-area: main;
  padding: 40px;
}

.main .productos {
  display: flex;
  flex-direction: column;
  width: 270px;
  background-color: #ffffff;
  padding: auto;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 35px;
}

.main .productos .descripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .productos img {
  width: 270px;
  height: 300px;
}

.main .productos .descripcion h4 {
  font-size: 20px;
  margin-bottom: -2px;
  font-family: Shrikhand;
}

.main .productos .descripcion p{
  color: #7f7f7f;
  margin-bottom: 25px;
}

.main .productos .descripcion button {
  width: 100%;
  border: none;
  padding: 10px;
  background-color: #c29436;
  font-size: 15px;
  color: #ffffff;
}

.main .productos .descripcion button:hover{
  background-color: #7f6124;
  cursor: pointer;
}















.aside {
  grid-area: aside;
}

.aside .productos-c {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 25px;
  height: 100vh;
}

.aside .productos-c h3 {
  font-weight: 800;
  color: #c29436;
  font-size: 22px;
}

.aside .productos-c a {
  text-decoration: none;
  color: #000000;
}

.aside .productos-c a:hover {
  color: #c29436;
}

.aside .productos-c .p-cantidad {
  display: flex;
  align-items: center;
  margin-bottom: -20px;
}

.aside .productos-c .p-cantidad p {
  padding-left: 10px;
  color: #c1c1c1;
}

.aside .productos-c .p-cantidad i {
  margin-left: 10px;
  color: #c29436;
}

.aside .productos-c .p-cantidad .icono-c {
  margin-right: 10px;
  color: #c29436;
}

.aside .productos-c .p-cantidad .icono-c:hover {
  color: #7f6124;
  cursor: pointer;
}

.footer {
  grid-area: footer;
}

.grid-boxes {
  display: grid;
  grid-template-areas:
    "header header header header header header header header header header header header header header"
    "aside main main main main main main main main main main main main main"
    "footer footer footer footer footer footer footer footer footer footer footer footer footer footer";
}

.grid-box {
  border: 1px solid black;
}
